

//Utilizar la fuente para un contenido y mandarlo a llamar al index.html
.content{
    font-family: 'Nexa Light';
    font-weight: $tipografia-secundaria;
    font-size: 30px;
    text-align: $alineación-primaria;
    margin:0;
}



.datos{
    font-family: 'Nexa Light';
    font-weight: $tipografia-secundaria;
    font-size: 20px;
}

//Para los titulos sin colorear un background
.titulos{
  font-family: 'Nexa Bold';
  text-align: $alineación-primaria;
}

//Para el apartado de contacto de lado derecho.
.contact{
   font-family: 'Nexa Bold';
   color: $color-primario;
   font-size: 40px;
}

// utilidades generales

.text-center{
    text-align:center;
}

.sans-serif{
    font-family: sans-serif;
}

