// Ancho de pantalla donde dividimos los moviles de escritorio
$breakpoint: 900px;
$mobile:600px;
@mixin mobile {
    @media (max-width: #{$mobile - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$breakpoint - 1px}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$breakpoint}) {
        @content;
    }
}