/*==================================================================================
  LAYOUT
==================================================================================*/
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Nexa Light';

    .column {
        &.w-half {
            width: 99%;

            @include desktop {
                width: 50%;
            }
        }

        &.w-third {
            width: 100%;

            @include desktop {
                width: 32%;
            }
        }

        &.w-two-third {
            width: 100%;

            @include desktop {
                width: 65%;
            }
        }

        &.w-quarter {
            width: 95%;

            @include desktop {
                width: 25%;
            }
        }

        &.w-three-quarter {
            width: 95%;

            @include desktop {
                width: 75%;
            }
        }
    }

    &.items-top {
        align-items: top;
    }

    &.items-center {
        align-items: center;
    }

    &.justify-start {
        justify-content: flex-start;

        @include desktop {
            .column {
                margin-right: .5rem;
            }
        }
    }

    &.justify-center {
        justify-content: center;
    }

}

