  //Variables universales para utilizarlas en todo el contenido
  $color-primario: #ebac00;
  $color-secundario: white;
  $color-terciario: #e5e8e8;
  $color-cuarto: #ECF0F1;
  $color-quinto: #dfdfdf;
  $alineación-primaria: center;
  $alineación-secundaria:right;
  $tipografia-primaria: bold;
  $tipografia-secundaria: normal;


  

  //Estos valores nos brinda un margen para dar una separación de algunos elementos.
  .h1 {
      margin-top: 10%;
  }

  .margen {
      margin-top: 1%;
  }

  .inicio {
      margin-top: 4%;
  }

  .marge {
      margin-top: 7%;
  }

  .espaciado {
      margin-top: 5%;
  }

  .imagina {
      margin-top: 50%;
  }

  .imagen {
      margin-left: 5%;
  }

  .textmarge {
      margin-top: 10%;
  }

  //prueba de object-fit
  .ajuste {
      object-fit: contain;
  }

  .objeto {
      object-fit: fill;
  }

  //Tabla de precios
  .precios {
      width: 100%;

      .hd {
          width: auto;
      }

      .td:nth-child(even) {
          align: left;
      }
  }

  //quitar espacio en blanco pie de pagina
  >body {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -764px;
      margin-left: -675px;
  }

  //el contenedor de toda la pagina
  .max-width {
      max-width: 1600px;
      margin: 0 auto;
  }

  //Estilizado para el recuadro  y darle estilo a ese titulo"¿Sin diseño?"
  .text-color {
      font-family: 'Nexa Bold';
      color: $color-primario;
      text-align: $alineación-primaria;
      font-size: 50px;
      font-weight: $tipografia-primaria;
  }

  //Este elemento es para la fecha que esta colocada con los elementos de servicios.


  //Es para darle espacio y estilizado a la parte inicial del texto que va despues de la imagen.
  .texto {
      text-align: $alineación-primaria;
      font-weight: $tipografia-primaria;
      font-size: 40px;
  }

  //"Te ayudamos a optimizar" seccion del inicio en la frase.
  .estilo {
      color: $color-primario;
      text-align: $alineación-primaria;
      font-weight: $tipografia-primaria;
      font-size: 27px;
  }

  //clase perteniciente a "Somos profesionales en impresión.."
  .parrafo {
      text-align: $alineación-primaria;
      font-size: 27px;
      font-style: $tipografia-secundaria;
  }

  //apartado que va en la parte de cada elemento la que crea subdivision de cada apartado del sitio ejemplo Servicios, instalación, etc.
  .cabecera {
      background-color: $color-primario;
      text-align: $alineación-primaria;
      font-weight: $tipografia-primaria;
      font-size: 30px;
      padding: 1em;
  }

  .servicios {
      @include desktop {
          display: grid;
          height: 100%;
          font-family: 'Nexa Bold';
          background-color: $color-secundario;
          grid-template-columns: 33% 33% 33%;
          grid-template-rows: 33% 33% 33%;
          grid-template-areas: "column1 column2 column3"
              "column1 column4 column5"
              "column1 column4 column5";
          text-align: $alineación-primaria;
      }

      // no repitas en cada columna lo que tienen en comun
      // define los elementos en comun en una etiqueta que tengan en comun.
      >div {
          background: $color-secundario;
          font-weight: $tipografia-primaria;
          text-align: $alineación-primaria;
          font-size: 20px;
          padding: 1em;
      }

      .column1 {
          grid-row: 1/4;
          grid-area: column1;
      }

      .column2 {
          grid-area: column2;
      }

      .column3 {
          grid-area: column3;
      }

      .column4 {
          grid-area: column4;
      }

      .column5 {
          grid-area: column5;
      }
  }

  //Esta clase da estilos al apartado de servicios en impresiones y ¿sin diseño?
  .contenido {
      font-family: 'Nexa Light';
      font-weight: $tipografia-secundaria;
      text-align: $alineación-primaria;
      font-size: 20px;
  }


  //Esta clase es usada para la descripción de los servicios.
  .descripción {
      font-weight: $tipografia-primaria;
      font-size: 15px;
      align-items: flex-start;
  }

  .descripción p {
      vertical-align: middle;
  }

  .descripción a {
      vertical-align: middle;
  }


  //Es la clase correspondiente a la parte final de la descripción de cada servicio
  .text {
      font-weight: $tipografia-secundaria;
      font-size: 14px;
      font-family: 'Nexa Light';
  }

  //Apartado de lado izquierdo para precios y precios variables
  .variable {
      color: $color-primario;
      font-weight: $tipografia-primaria;
      font-size: 15px;
      margin-left: 15%;
  }

  //Es la sección donse se contiene las imagenes y logos de los clientes
  .cuadro {
      background-color: $color-terciario;
      font-size: 27px;
      font-weight: $tipografia-secundaria;
  }

  //Este es el grid responsive para el apartado de diseño y sus elementos que vienen ahi
  .diseño {
      @include desktop {
          display: grid;
          height: 100%;
          background-color: $color-cuarto;
          grid-template-columns: 33% 33% 33%;
          grid-template-rows: 33% 33% 33%;
          grid-template-areas: "co1 co2 co2"
              "co3 co4 co5"
              "co3 co4 co5";
          text-align: $alineación-primaria;
      }

      //aqui hacemos un llamado a cada div que contiene esta clase y cada "co" es una columna.
      >div {
          background: $color-cuarto;
          font-weight: $tipografia-primaria;
          text-align: $alineación-primaria;
          font-size: 20px;
          padding: 1em;
      }

      .co1 {
          grid-area: co1;
      }

      .co2 {
          grid-row: 2/4;
          grid-area: co2;
      }

      .co3 {
          background-color: $color-secundario;
          grid-area: co3;
      }

      .co4 {
          background-color: $color-quinto;
          grid-area: co4;
      }

      .co5 {
          background-color: $color-quinto;
          grid-area: co5;
      }

  }

  //Sirve para darle una tipografia al titulo "Productos publicitarios"
  .remarcado {
      font-weight: $tipografia-primaria;
      font-family: 'Nexa Bold';
  }

  //Es para el apatado de formulario y contacto, para tambien hacer que se ajuste bien y se distribuya tambien en el movil.
  .filas {
      @include desktop {
          display: grid;
          height: 100%;
          grid-template-columns: 50% 50%;
          grid-template-rows: 50% 50%;
          grid-template-areas:
              "formulario informacion"
              "formualario informacion";
      }

      >div {
          padding: 1em;
      }

      //Estos son las clases para la segunda ilera de imagenes que van despues de los logos como gobierno, audi y porsche
      .formulario {
          grid-area: formulario;
      }

      .informacion {
          grid-area: informacion;
          font-family: 'Nexa Light';
      }


  }

  //Es el grid para la primera fila de logotipos y se relaciona con las clases anteriores mencionas de clientes1 a clientes4
  .clientes {
      display: flex;
      flex-wrap: nowrap;
      max-width: 100%;

      .logo {
          min-width: 25%;
          min-height: 8rem;
          border: 1px solid lime;

      }
  }

  .servicio {
      display: grid;
      grid-template-columns: 50% 50%;
  }

  .servicio div {
      padding: 1em;
  }

  .impresionplotter1 {
      text-align: $alineación-primaria;
  }

  .impresionplotter2 {
      text-align: $alineación-primaria;
  }

  //Este es un flex construido para el flex de muestra, tomando el apartado de desktop para darle una vista en movil y como se repartira los elementos en movil
  .muestra {
      background-color: $color-secundario;
      display: flex;
      flex-wrap: wrap;

      .muestras {

          &.w-first {
              width: 50%;

              @include desktop {
                  width: 33%;
              }
          }

          &.w-second {
              width: 50%;

              @include desktop {
                  width: 33%;
              }
          }

          &.w-threed {
              width: 50%;

              @include desktop {
                  width: 33%;
              }
          }

          &.w-third {
              width: 95%;

              @include desktop {
                  width: 32%;
              }
          }

          &.w-two-third {
              width: 95%;

              @include desktop {
                  width: 65%;
              }
          }

          &.w-quarter {
              width: 95%;

              @include desktop {
                  width: 25%;
              }
          }

          &.w-three-quarter {
              width: 95%;

              @include desktop {
                  width: 75%;
              }
          }

      }

      &.items-top {
          align-items: top;
      }

      &.items-center {
          align-items: center;
      }

      &.justify-center {
          justify-content: center;
      }
  }

  //Esta clase es para el texto, Contactanos hoy mismo.
  .color {
      color: $color-primario;
      font-weight: $tipografia-primaria;
      font-size: 25px;
      font-family: 'Nexa Light';
  }

  //"Imagina tú marca"
  .fuente {
      font-weight: $tipografia-primaria;
      font-style: $alineación-primaria;
      font-size: 30px;
      font-family: 'Nexa Light';
  }

  //Al haber cierta tipografia que interfiere en algunas secciones se usa otra fuente
  .cnido {
      font-weight: $tipografia-secundaria;
      font-size: 30px;
  }

  //Este es un apartado para el formulario, declarar su borde ademas de que todos los elementos tengan un padding de 1em
  .contactar {
      box-shadow: 0 0 20px 0 rgb(235, 172, 0, .0);
      background-color: $color-terciario;
  }

  .contactar>* {
      padding: 1em;
  }

  .formulario {
      background-color: $color-terciario;
  }

  //Aqui aclaramos que tanto el botton, los inputs y el text area tengan un estilo, ademas de quitar el borde.
  .formulario form button,
  .formulario form input,
  .formulario form textarea {
      width: 80%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      border-bottom: 1px solid $color-primario;
      font-family: 'Nexa Light';
  }

  //Aqui va el apartado de redes, declarando que va hacer un contenedor para redes sociales.
  .redes-container {
      display: flex;
      justify-items: $alineación-primaria;
  }

  .redes-container ul li {
      display: inline-block;
      margin: 0 10px;
      width: 40px;
      height: 40px;
      text-align: $alineación-primaria;
  }

  .redes-container ul li a {
      display: block;
      padding: 0 10px;
      background: $color-primario;
      color: $color-secundario;
      line-height: 40px;
      font-size: 25px;
      border-radius: 0.8em;
  }

  //impostamos el archivo de instalación.css para algunos elementos
  @import "instalacion";

  @media only screen and (max-widht: 500px) {
      .grid {
          grid-template-columns: 99%;
          grid-template-rows: 20% 20% 20% 20% 20%;
          grid-template-areas:
              "column1"
              "column2"
              "column3"
              "column4"
              "column5";
      }
  }