:root{
  --color-primario: #ebac00;
  --text-color: #333333;
  --color-secundario: white;
  --color-terciario: #e5e8e8;
  --color-cuarto: #ECF0F1;
  --color-quinto: #dfdfdf;

  --max-widt: 1500px;
}

//fuente que se debe integrar y declarar para usarse
@font-face {
  font-family: 'Nexa Bold';
  src: url('/estilos/fuentes/nexa_bold.otf');
}

//Hay fuentes que se pueden descargar o utilizar ya sea de manera local o por url.
@font-face {
  font-family: 'Nexa Light';
  src: url('/estilos/fuentes/nexa_light.otf');
}


@import "mediaqueries";
@import "rows";

/*
  Utilerias comunes
*/
.text-center {
  text-align: center
}

.text-left {
  text-align: left
}

.text-bold,
.remarcado {
  font-family: 'Nexa Bold';
}
.text-xl {
  font-size: 1.7rem;
  line-height: 2.1rem;
  @include desktop{
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  
}
.color-black {
  color: black
}

.color-yellow, .color-primary {
  color: var(--color-primario);
}

.sin{
  color: var(--color-primario);
  font-size: 1.4em;
  @include desktop{
    font-size: 3.8em;
  }
  
}
.hidden{display:none;}
.bg-white {
  background-color: white;
}

.bg-gris {
  background-color: var(--color-terciario);
}
.image-responsive {
  width: 100%;
  margin: 0;
}
.w-80{width: 80%;}
.m-auto{margin:auto}
.mt-6 {margin-top: 6rem}
.mb-3{margin-bottom: 3rem}
.mb-4{margin-bottom: 4rem}
.mb-5{margin-bottom: 5rem}
.mb-6{margin-bottom: 6rem}
.mb-7{margin-bottom: 7rem}
.mr-1 {margin-right: 1rem}
.mr-2{margin-right: 2rem}

.p-2{
  padding:2rem;
}
@include mobile {
  .mb\:m-2 {margin: 2rem}
  .mb\:mt-10 {margin-top: 10rem}
}
@include desktop{
  .dk\:m-4{ margin:4rem }
  .dk\:mt-6 { margin-top: 6rem }
}
.m-2 {margin: 2rem}
.m-4 {margin: 4rem}
.flex{display: flex}
/*
  Generales
*/
body{
  font-family: 'Nexa Light';
  color: var(--text-color);
  font-size:15px;
  
}
a{ color: var(--color-primario)}
h1{
  font-size:1.5rem;
  line-height: 2rem;
  @include desktop {
    font-size:2.6rem;
    line-height: 2.9rem;
  }
  
}
h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  @include desktop {
    font-size: 2.4rem;
    line-height: 2.7rem;
  }
  
}
h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;

  @include desktop {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

}


p{
  font-weight: normal;
  font-size:1.3rem;
  line-height:1rem;
  @include desktop {
    font-size:1.4rem;
    line-height:2.3rem;
  }
}

/*
  Main content
*/
.main-logo{
  height: auto;
  width:50%;
  @include desktop {
    width:22rem;
    margin-top:4rem;
    margin-bottom:3rem
  }
  
}
section.max-width{
  max-width: var(--max-widt);
  margin:0px auto;
}
.abstract{
  >:before{
    content:"";
    display:block;
    height: 5px;
    width:20%;
    margin:4.5rem auto;
    background-color: var(--color-primario);

  }

}
.titulo-grande {
  font-family: 'Nexa Bold';
  background-color: var(--color-primario);
  text-transform: uppercase;
  color: black;
  text-align: center;
  margin: 0;
  padding:1rem .5rem;
  font-size:1.3rem;
  @include desktop{
    padding: 2rem 1rem;
    font-size: 2rem;

  } 
}
.social-icons{
  display: flex;
  img{
    display: inline-block;
    max-width: 3rem;
    max-height:3rem;
    margin-right:1rem;
  }

}

.radio{
  background: var(--color-primario);
  color: var(--color-secundario);
  border-radius: 70%;
  padding: 0.9em;
  text-align:center;
  font-size: 18px; 
}

.servicios {
  background-color: var(--color-secundario);
  
  .service-icon{
    max-width: 7rem;
    max-height: 4rem;
    height: auto;
    display: block;
    margin:1.5rem auto;
  }
  h5.service-title {
    font-family: 'Nexa Bold';
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin:0;
    text-align: center;
  }
  h6.service-description {
    font-family: 'Nexa Light';
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin:.7rem 0 1rem 0;
    text-align: center;
  }
}

.hero{
  position: relative;
  width:100%;
  margin-top:2%;
  @include mobile{
    min-height: 110vh;
    margin-bottom:2rem;
  }
  @include tablet{
    min-height:50vh
  }
  @include desktop{
    height: 29rem;
  }
  &__content{
    position: absolute;
    z-index: 3;
    //padding-top:12rem;
    // @include desktop{
    //   padding-top:5rem;
    // }
    &.dk\:w-50{
      @include mobile{
        margin-top:0;
      }
      @include tablet{
        margin-top:11rem;
      }
      @include desktop{
        width:50%;
      }
    }
    &.f-right{
      right:0;
    }
  }
  &__background{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background: #eeeff1;
    .image{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left top;
      @include desktop{
        object-position: left center;
      }
      
    }
  }
}
.siluva_banner{
  width:100%;
  overflow: hidden;
  text-align:left;
  @include mobile{
    min-height: 600px;
    background: url(/images/bimagenes/product_sm.png) center center;
    background-size:fit;
  }
  @include tablet{
    min-height: 500px;
    background: url(/images/bimagenes/product_md.png) center center;
    background-size:fit;
  }
  @include desktop{
      min-height: 600px;
      background: url(/images/bimagenes/product_lg.png) center center;
      background-size:fit;
  }
  position:relative;
  .frame{
    text-align:center;
    width:100%;
    margin-top: 12rem;
    
    @include desktop{
      margin:1rem;
      width:25%;
      margin-top: 16rem;
      position:absolute;
      bottom:1rem;
    }
  }
}
.section-icon {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.servicio .precio {
  font-size:1.3rem;
  margin:.5rem 1rem;
  .flecha {
    color: var(--color-primario);
    font-size: 1.4rem;
    font-family: 'Nexa Bold';
  }
  .detalle{
    display: flex;
    justify-content: space-between;
    padding:1rem 0;
    font-size:1.1rem;
    .cantidad{
      font-family: 'Nexa Bold';
      color: var(--color-primario);
    }
  }

}
.precios-variables{
  padding: 1rem;
  @include desktop{
    padding: 0 2rem;
  }
  .precio{
    display: flex;
    justify-content: space-between;
    font-size:1.3rem;
    margin:1rem 0;
    .flecha {
      color: var(--color-primario);
      font-size: 1.4rem;
      font-family: 'Nexa Bold';
    }
  }
}


.clientes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mobile{
    margin:2rem 0;
  }
  .cliente{
    width: 40%;
    height: auto;
    height: 6rem;
    @include mobile{
      margin:1rem;
    }
    @include desktop{
      width: 20%;
      height: 6.4rem;
      margin:2rem;
    }
    .image{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .ajuste{
      width: 100%;
      height: 80%;
      object-fit: contain;
    }

  }
  
}
.fotos-clientes {
  display: flex;
  flex-wrap: wrap;
  .image-container {
    height: 15rem;
    margin:0;
    @include desktop{
      width: 33.33%;
    }
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.contact-form{
  width: 100%;
  margin:1rem;
  .item{
    padding:1rem;
    width:80%;
    display:block;
  }
  .label{
    font-size:1rem;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    border: 0;
    width:90%;
    padding:1rem;
  }
  textarea{
    border: 0;
    width:90%;
    padding:1rem;
  }
  button{
    background-color: var(--color-primario);
    width:auto;
    border-radius: 1rem;
    color:white;
    border:0;
  }

}
/* ASPECT RATIOS
/––––––––––––––––––––––––*/
.placeholder {
  background: var(--color-cuarto);
  position: relative;
  overflow: hidden;

  &.aspect\:1\/1 {
    padding-top: 100%
  }

  &.aspect\:3\/1 {
    padding-top: 33%
  }

  &.aspect\:16\/9 {
    padding-top: 56.25%
  }

  &.aspect\:4\/3 {
    padding-top: 75%
  }

  &.aspect\:4\/3 {
    padding-top: 66.66%;
  }

  .image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &.contain {
      object-fit: contain
    }

    &.cover {
      object-fit: cover
    }

    &.fill {
      object-fit: fill
    }

    &.scale {
      object-fit: scale-down
    }
  }
}